{% load static %}

<!-- home section starts  -->

<section class="home" id="home" style="padding-bottom: 0px;">

    <div class="image">
        <img src="{% static 'image/well1.png' %}" alt="">
    </div>

    <div class="content">
        <span>Demo Coaching.</span>
        <h3>Your child is our responsibility. <a href="#"> See more </a></h3>
        <p>The specialty of teaching at the coaching center is providing personal assistance to students and enhancing their abilities through mastery courses with respect to local preparation. The coaching center provides services to help students develop skills through various materials, expert teachers, regular assessments, and an effective monitoring system to ensure quality education.</p>
        <a href="#category" class="btn">Courses</a>
    </div>
</section>

<!-- home section ends -->

<!-- info section starts  -->

<section class="info-container" style="padding-top: 0px;">

    <div class="box">
        <i class="fas fa-user-graduate"></i>
        <div class="info">
            <h3>150+</h3>
            <p>Students</p>
        </div>
    </div>

    <div class="box">
        <i class="fas fa-laptop-code"></i>
        <div class="info">
            <h3>10+</h3>
            <p>Classes</p>
        </div>
    </div>

    <div class="box">
        <i class="fas fa-chalkboard-teacher"></i>
        <div class="info">
            <h3>50+</h3>
            <p>Teachers</p>
        </div>
    </div>

    <div class="box">
        <i class="fas fa-book"></i>
        <div class="info">
            <h3>50+</h3>
            <p>Subjects</p>
        </div>
    </div>

</section>