{% load static %}
<!-- blogs section starts -->

<section class="blogs" id="blogs">

    {% comment %} dynamic {% endcomment %}

    <div class="heading">
        <span>Our Blogs</span>
        <h3>Our tours, blogs, stories, and more.</h3>
    </div>

    <div class="box-container">
        
        <div class="box">
            <img src="{% static 'image/a.png' %}" alt="">
            <a href="#" class="title">Blog Title.</a>
            <p class="blog-description">See our coaching stories, blogs, photos, trips, and more.</p>
            <div class="icons">
                <p><i class="fas fa-calendar"></i> 21st may, 2021</p>
                <a href="#">Read More</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'image/b.png' %}" alt="">
            <a href="#" class="title">Blog Title.</a>
            <p class="blog-description">See our coaching stories, blogs, photos, trips, and more.</p>
            <div class="icons">
                <p><i class="fas fa-calendar"></i> 21st may, 2021</p>
                <a href="#">Read More</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'image/blog-3.svg' %}" alt="">
            <a href="#" class="title">Blog Title.</a>
            <p class="blog-description">See our coaching stories, blogs, photos, trips, and more.</p>
            <div class="icons">
                <p><i class="fas fa-calendar"></i> 21st may, 2021</p>
                <a href="#">Read More</a>
            </div>
        </div>

    </div>
    
</section>

<!-- blogs section ends -->