{% load static %}

<!-- category section starts  -->
   
<section class="category" id="category" >

    <div class="heading">
        <span>Categories</span>
        <h3>Our Top Categories</h3>
    </div>

    <div class="box-container">

        
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <h3>HSC-SSC-PSC Special</h3>
            <p>Enroll now for special last-minute preparation. Make your exam excellent with complete preparation.</p>
        </div>

        <div class="box">
            <i class="fas fa-flask"></i>
            <h3>Science Department</h3>
            <p>Enroll today in Science for 9th, 10th or Inter 1st year, 2nd year. Skilled teachers will make all chapters easy.</p>
        </div>

        <div class="box">
            <i class="fas fa-chart-line"></i>
            <h3>Commerce Department</h3>
            <p>For the Business Education branch 9th, 10th or Inter 1st year, 2nd year, skilled teachers will cover all topics with suggestions and special guides.</p>
        </div>

        <div class="box">
            <i class="fas fa-palette"></i>
            <h3>Arts Department</h3>
            <p>Skilled and responsible teachers will be there for any problems in Humanities.</p>
        </div>

        <div class="box">
            <i class="fas fa-child"></i>
            <h3>Kindergarten to 8th Grade</h3>
            <p>Let your child's first learning begin with joyful and fun-filled education. Our teachers will take responsibility for your child. They will develop a friendly relationship.</p>
        </div>


        <div class="box">
            <i class="fas fa-book-open"></i>
            <h3>Single Subject</h3>
            <p>If you want to take classes in just one specific subject instead of enrolling in a batch, you can enroll in one subject for a class.</p>
        </div>

    

    </div>

</section>

<!-- category section ends -->