{% load static %}


<!-- contact section starts  -->

<section class="contact" id="contact">

    <div class="heading">
        <span>Contact Us</span>
        <h3>Fill out the form to get in touch with us.</h3>
    </div>

    <div class="row">

        <div class="contact-info-container">

            <div class="box">
                <i class="fas fa-phone"></i>
                <div class="info">
                    <h3>Phone:</h3>
                    {% comment %} dynamic {% endcomment %}
                    <p>+8801234567890</p>
                    <p>+880011223</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-envelope"></i>
                <div class="info">
                    <h3>Email Us:</h3>
                    {% comment %} dynamic {% endcomment %}
                    <p>coaching@center.com</p>
                    <p>coaching.center@gmail.com</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-map"></i>
                <div class="info">
                    <h3>Address:</h3>
                    {% comment %} dynamic {% endcomment %}
                    <p>Dhaka, Mirpur 2, Rupnagar - Road No. 18.</p>
                </div>
            </div>

            <div class="share">
                {% comment %} dynamic {% endcomment %}
                <a href="" class="fab fa-facebook-f"></a>
                <a href="" class="fab fa-twitter"></a>
                <a href="" class="fab fa-youtube"></a>
                <a href="" class="fab fa-linkedin"></a>
            </div>
            
        </div>

        <form action="">
            {% comment %} dynamic {% endcomment %}
            <div class="inputBox">
                <input type="text" placeholder="Your Name" name="" id="">
                <input type="email" placeholder="Email" name="" id="">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Mobile Number" name="" id="">
                <input type="text" placeholder="Subject" name="" id="">
            </div>
            <textarea name="" placeholder="Your Message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Send" class="btn">
        </form>

    </div>

</section>

<!-- contact section ends -->